* {
  font-family: Arial;
}

body {
  margin: 0;
  /* background: yellow; */
}

nav {
  background-image: linear-gradient(lightgrey, transparent 100%);
  height: 70px;
  margin-bottom: 40px;
}

nav ul {
  height: 40px;
  list-style-type: none;
  margin: 0 50px;
  padding: 10px;
  float: right;
}

nav li {
  display: inline;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h1 {
  height: 40px;
  margin: 0;
  padding: 10px 10px 10px 30px;
  float: left;
  color: #4C4C4C;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
}

section {
  width: 940px;
  margin: auto;
  margin-bottom: 100px;
}

div {
  width: 470px;
  height: 380px;
  margin: auto;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  color: #4c4c4c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 25px;
  color: #4c4c4c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  padding: 70px 0 40px 0;
}

p {
  color: grey;
  text-align: center;
  padding: 0;
  margin: auto;
  /* width: 70%; */
  letter-spacing: 0.7px;
  line-height: 1.8;
}

div p {
  width: 100%;
  vertical-align: middle;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: justify;
}

footer p {
  height: 100px;
}

a:hover {
  text-decoration-line: underline;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}
